 /* Estilos generales */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/* Estilo para el menú lateral retráctil */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #1e3a5d;
    color: #fff;
    position: fixed;
    left: -250px;
    top: 0;
    transition: left 0.3s;
    overflow-y: auto;
    padding: 20px;
    z-index: 1000;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
}

.sidebar i {
    margin-right: 10px;
}

body.menu-visible .sidebar {
    left: 0;
}

/* Contenido principal */
.content {
    margin-left: 100px;
    padding: 20px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* Estilo para el contenedor de la parte superior derecha */
.top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

/* Estilo para el botón de búsqueda (ícono) */
.search-container button {
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* Estilo para el contenedor de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Espacio entre el botón de búsqueda y "Crear" */
}

/* Estilo para el botón "Crear Nuevo Objeto" */
.create-new-object-link {
    padding: 5px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
}

/* Estilo para el botón "Descargar CSV" */
.download-link {
    padding: 5px 10px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    display: inline-flex; /* Alinea el ícono y el texto en línea */
    align-items: center; /* Alinea verticalmente */
    margin-left: 10px; /* Ajusta el margen izquierdo según sea necesario */
}

/* Estilo para el ícono de Excel */
.download-link i {
    margin-right: 5px;
}


/* Estilos para el título y el ícono de objetos */
.title-container {
    display: flex;
    align-items: center;
}

h1 {
    text-align: left;
    margin: 0;
    font-size: 36px; /* Ajusta el tamaño del título según sea necesario */
    margin-right: 10px; /* Espacio entre el título y el icono */
}

/* Estilo para el ícono de objetos (ajusta la clase según corresponda) */
.title-container i {
    font-size: 24px; /* Ajusta el tamaño del icono según sea necesario */
}



/* Estilos para los enlaces "Editar" y "Eliminar" */
a.edit-link {
    color: #007bff; /* Color azul */
    text-decoration: none;
    margin-right: 10px; /* Espacio entre los enlaces */
}

a.edit-link:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el mouse */
}

a.delete-link {
    color: #d9534f; /* Color rojo */
    text-decoration: none;
}

a.delete-link:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el mouse */
}
